<div class="container">
    <div class="row">
        <div class="col-md-3">
            <%= render 'list', user: @user, book: @book_new %>
        </div>
        <div class="col-md-8 offset-md-1">
            <h2>Book detail</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-2"></th>
                        <th>Title</th>
                        <th>Opinion</th>
                      </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>
                        <%= link_to book_path(@book.id) do %>
                            <%= image_tag @book.user.get_profile_image(100,100) %>
                        <% end %>
                        </td>
                      <td>
                          <%= link_to book_path(@book.id) do %>
                              <%= @book.title %>
                          <% end %>
                      </td>
                      <td><%= @book.body %></td>
                      <td>
                          <% if @book.user == current_user %>
                            <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-success" %>
                          <% end %>
                      </td>
                      <td>
                        <% if @book.user == current_user %>
                             <%= link_to 'Destroy', book_path(@book), method: :delete, class: "btn btn-danger" %>
                        <% end %>
                      </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <%= link_to user_path(@user.id) do %>
                                <%= @user.name %>
                            <% end %>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
