<div class="container">
  <div class="row">
    <h2>Log in</h2>
  </div>
  <%= form_with model: @user, url: user_session_path do |f| %>
    <div class="row">
      <%= f.label :name %>
    </div>
    <div class="row">
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      <!--↑nameにかえた-->
    </div>
    <div class="row">
      <%= f.label :password %>
    </div>
    <div class="row">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="row">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="row">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
  <div class="row d-block">
    <%= render "devise/shared/links" %>
  </div>
</div>

